*__pycache__*
whale4/secret_settings.py
accounts/migrations/
resetDB.sh
polls/migrations/
message.txt
.idea/
*.pyc
locale/en/LC_MESSAGES/django.mo
locale/fr/LC_MESSAGES/django.mo
sql/
polls/data.json
venv
