{%extends "polls/base.html" %}
{% load bootstrap3 %}
{% load i18n %}
{% load static %}
{% block content %}

    <div class="container">
        <div class="well">
            <h2>{% trans 'Update your poll' %}</h2>
            <h3>{% blocktrans with title=poll.title %}Poll "{{ title }}"{% endblocktrans %}</h3>
	    <p style="text-align: center;">{% blocktrans count counter=nb_voters %}{{ counter }} voter have participated in this poll.{% plural %}{{ counter }} voters have participated in this poll.{% endblocktrans %}</p>
        </div>
        <div class="list-group choice">
            <a  href="{% url 'updatePoll' poll.id %}"  class="list-group-item " >
                <h4 class="list-group-item-heading"><i class="fa fa-cog"></i> {% trans 'Update parameters'%}</h4>
            </a>
            <a  href="{% url 'manageCandidate' poll.id %}" class="list-group-item ">
                <h4 class="list-group-item-heading"><i class="fa fa-bars"></i> {% trans 'Add or remove candidates'%}</h4>
            </a>
            <a  href="{% url 'invitation' poll.id %}" class="list-group-item ">
                <h4 class="list-group-item-heading"><i class="fa fa-share-square-o"></i> {% trans 'Invite the voters'%}</h4>
            </a>
            {% if poll.ballot_type == "Experimental" %}
                <a  href="{% url 'status' poll.id %}" class="list-group-item ">
                    <h4 class="list-group-item-heading"><i class="fa fa-star"></i> {% trans 'Change the status of poll'%}</h4>
                </a>
            {% endif %}
            <a  href="{% url 'viewPoll' poll.id %}" class="list-group-item ">
                <h4 class="list-group-item-heading"><i class="fa fa-th-list"></i> {% trans 'Go to the poll'%}</h4>
            </a>
            <a href="#" class="list-group-item" data-toggle="modal" data-target="#modalReset">
                <h4 class="list-group-item-heading"><i class="fa fa-repeat"></i> {% trans 'Reset poll (delete all votes)'%}</h4>
            </a>
            <div class="modal fade" id="modalReset" role="dialog">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">{% trans 'Reset the poll' %} </h4>
                  </div>
                  <div class="modal-body">
                    <p>{% trans 'Reset confirmation' %}</p>
                  </div>
                  <div class="modal-footer">
                    <a href="{% url 'resetPoll' poll.id %}" class="btn btn-ok ">{% trans 'OK' %} {% bootstrap_icon "ok" %} </a >
                    <button type="button" class="btn btn-cancel" data-dismiss="modal">{% trans 'Cancel'%} {% bootstrap_icon "remove" %}</button>
                  </div>		  
                </div>
              </div>
            </div>

        </div>
    </div>

{% endblock %}
