{% load static %}
{% load i18n %}
{% load bootstrap3 %}
<!DOCTYPE html>
<html lang="en">
    <head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>
	    {% block title %}
	    {% trans ' Whale4 - WHich ALternative is Elected' %}
	    {% endblock %}
	</title>
	
	<!-- Bootstrap -->
	<link href="{% static 'polls/css/bootstrap.min.css' %}" rel="stylesheet">
	<link href="{% static 'polls/css/bootstrap-theme.min.css' %}" rel="stylesheet">
	<link href="{% static 'polls/css/mfglabs_iconset.css' %}" rel="stylesheet">
	<link href="{% static 'polls/css/preferences.css' %}" rel="stylesheet">

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css"> 
	<script src="{% static 'polls/js/jquery-1.12.3.min.js' %}"></script>
	<link href="{% static 'polls/css/bootstrap-datepicker3.standalone.min.css' %}" rel="stylesheet"/>
	<script src="{% static 'polls/js/bootstrap-datepicker.min.js' %}" type="text/javascript"></script>
	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

    </head>
    <body role="document">
      <nav class="navbar navbar-inverse" role="navigation">
	<div class="container-fluid">
	  <div class="navbar-header">
	    <a class="navbar-brand" href="/" >Whale<sup>4</sup></a>
	  </div>

	  <ul class="nav navbar-nav">
	    <li><a href="/polls">{% trans 'Home' %}</a></li>
	    <li><a href="/polls/newPoll">{% trans ' New poll' %}</a></li>
	    <li class="dropdown">
	      <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans  'Developers'  %}<b class="caret" ></b></a>
	      <ul class="dropdown-menu">
		<li><a href="https://github.com/theneurasthenicrat/whale4">{%trans ' Get the code' %}</a></li>
		<li><a href="https://github.com/theneurasthenicrat/whale4/blob/master/LICENSE">{% trans ' Code license'  %}</a></li>
	      </ul>
	    </li>
	    <li><a href="mailto:sylvain[dot]bouveret[at]imag[dot]fr?subject=[Whale4] xxx">{% trans 'Contact us '%}</a></li>
	  </ul>
	  
	  <ul class="nav navbar-nav navbar-right">
	    {% if user.is_authenticated %}
	    <li><a href="/accounts/logout/" class="navbar-link">
	      <span class="icon icon-signout"></span> {% trans 'Log out' %} ({{ user.nickname }})
	    </a></li>
	    {% else %}
	    <li><a href="/accounts/login/" class="navbar-link">
	      <span class="icon icon-signin"></span> {% trans 'Log in' %}
	    <li><a href="/accounts/register/" class="navbar-link">
	      <span class="icon icon-plus"></span> {% trans ' Sign up' %}
	    </a></li>	    
	    {% endif %}
	<form action="{% url 'set_language' %}" method="post" class="navbar-form pull-right" >{% csrf_token %}
    <input name="next" type="hidden" value="{{ redirect_to }}" />
    <div class="input-group">
    <select name="language" class="form-control">
        {% get_current_language as LANGUAGE_CODE %}
        {% get_available_languages as LANGUAGES %}
        {% get_language_info_list for LANGUAGES as languages %}
        {% for language in languages %}
            <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}>
                {{ language.name_local }} ({{ language.code }})
            </option>
        {% endfor %}
    </select>
  <span class="input-group-btn">
        <button type="submit" class="btn btn-default"> {% trans "GO" %}</button>
     </span> 
    
    </div>
</form>
	  </ul>
	</div>
      </nav>
      <div class="container theme-showcase" role="main">

      {% bootstrap_messages %}
    
	{% block content %}
	Default page
	{% endblock %}


      </div>
      <footer></footer>
    </body>
</html>

