{% extends "polls/base.html" %}
{% load i18n %}
{% load static %}
{% block content %}
    {% load bootstrap3 %}
    <div class="container-fluid col-lg-9">
        <div class="well">
            <h2> {% trans 'Create a new poll' %}</h2>
            <h3>{% trans '2.Add candidates to poll' %}</h3>
        </div>
        <div class="container-fluid form-login margin1">

            <h2>List of current candidates</h2>
            {% if candidates %}

                <ol class="list-group">
                    {% for c in candidates %}
                        <li class="list-group-item">

                            {{ c }}
                            <button type="button" data-toggle="modal" data-target="#myModal" class="close">&times;</button>
                            <div class="modal fade" id="myModal" role="dialog">
                                <div class="modal-dialog modal-sm">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">Delete {{ c }}</h4>
                                        </div>
                                        <div class="modal-body">
                                            <p> If you really want to delete this candidate <strong>{{ c }}</strong>, click submit.</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                            <a href="/polls/deleteCandidate/{{c.poll.pk }}/{{c.id}}" class="btn btn-custom ">{% trans 'Submit' %} </a >

                                        </div>

                                    </div>
                                </div>
                            </div>

                        </li>
                    {% endfor %}
                </ol>
            {% else %}
                <p class="text-center">No candidate yet</p>
            {% endif %}
        </div>

        <div class="container-fluid form-login">
            <div class="well-sm visible-lg visible-md visible-sm">
                <ul class="nav nav-pills-custom ">
                    <li role="presentation" ><a href="{% url 'updateVotingPoll' poll.id %}">1.General parameters {% bootstrap_icon "menu-right" %}</a></li>
                    <li role="presentation" class="active" ><a href="#">2.Add candidates {% bootstrap_icon "menu-right" %}</a></li>
                    <li role="presentation" class="disabled"><a href="#">3.Advanced parameters {% bootstrap_icon "menu-right"%}</a></li>
                    <li role="presentation" class="disabled"><a href="#">4.Invite</a></li>
                </ul>
            </div>
            <div class="thumbnail ">
                <form action="" method="post" id="form1" >
                    {% csrf_token %}
                    {% bootstrap_form form  %}
                    <div class="container-fluid margin1" id="candidate_formset">
                        <div class=" col-lg-offset-5 col-md-offset-3 col-sm-offset-2 col-lg-7 col-md-9 col-sm-10 col-xs-12">
                            {{ formset.management_form }}
                            {% bootstrap_formset_errors formset layout='inline' %}
                            <div id="form_set" >
                                <label>Give a label for the time slot to add <br>(e.g. Morning, 10AM-12AM,...)</label>
                                {% for form in formset.forms %}
                                    {% bootstrap_form form   %}
                                {% endfor %}

                            </div>
                            <div id="empty_form" style="display:none">
                                {% bootstrap_form formset.empty_form   %}
                            </div>
                            <label  id="add_more" class="btn btn-default pull-right ">{% bootstrap_icon "plus" %} {% trans 'Add' %}</label>
                        </div>
                    </div>
                </form>
                <div class="wrapper">
                    <button type="submit" form="form1"class="btn btn-success ">{% bootstrap_icon "ok" %} {% trans 'Save' %}</button>
                </div>
            </div>
            <div class="margin2">
                <a href="{% url 'updateVotingPoll' poll.id %}"  class="btn btn-default pull-left"> {% bootstrap_icon "menu-left" %} {% trans 'Previous' %}</a>
                <a href="{% url 'option' poll.id  %}" class="btn btn-custom pull-right">{% trans 'Next' %} {% bootstrap_icon "menu-right" %}</a >
            </div>
        </div>
    </div>

    <script src="{% static 'polls/js/dateCandidate.js' %}" type="text/javascript"></script>
{% endblock %}