{% load static %}
{% load i18n %}
{% load bootstrap3 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% trans ' Whale4 - WHich ALternative is Elected' %}</title>
</head>
<body >
<div style="padding: 20px;">
<a href="http://localhost:8000/" style="text-decoration: none"> <h3>Whale4 <small>{% trans 'WHich ALternative is Elected' %}</small></h3></a>
    <p> {% trans 'Hello' %}<br>
        {% trans 'You are invite to secret poll.' %}<br>
       {% trans ' This is the certificate of vote' %} <strong> {{ certi }}</strong><br>
        {% trans 'You can vote at the following link' %}</p>
        <a href="http://localhost:8000/polls/vote/{{poll.id}}"> {% trans 'click here for vote' %}</a>
</div>
</body>
</html>










