

<head>
  <!-- Plotly.js -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>

  <div id="myDiv" style="width: 480px; height: 400px;"><!-- Plotly chart will be drawn inside this DIV --></div>
   <div id="myDiv1" style="width: 480px; height: 400px;"><!-- Plotly chart will be drawn inside this DIV --></div>
  <div id="myDiv2" style="width: 480px; height: 400px;"><!-- Plotly chart will be drawn inside this DIV --></div>

  <script>

  $.getJSON("http://127.0.0.1:8000/polls/viewPoll/6662c8fa-b5f9-4b5a-84a2-cf4a7caff469?result=scoremethod",  function(data) {
})
  .done(function(data) {
      var candidates=data.Borda.candidates;
      var borda_scores=data.Borda.scores;
      var plurality_scores=data.Plurality.scores;
      var veto_scores=data.Veto.scores;

      var h = [
  {
    x:candidates,
    y: borda_scores,
    type: 'bar'
  }
];

            var h1 = [
  {
    x:candidates,
    y: plurality_scores,
    type: 'bar'
  }
];

            var h2 = [
  {
    x:candidates,
    y: veto_scores,
    type: 'bar'
  }
];

 var annotationContent = [];



layout = {
  title: 'Borda',
  annotations: annotationContent
};

for( var i = 0 ; i < candidates.length ; i++ ){
  var result = {
    x: candidates[i],
    y: borda_scores[i],
    text: borda_scores[i],
    xanchor: 'center',
    yanchor: 'bottom',
    showarrow: false
  };
  annotationContent.push(result);
}


var h4 = [{
  values: borda_scores,
  labels: candidates,
  type: 'pie'
}];

var layout1 = {
  height: 400,
  width: 500
};




Plotly.newPlot('myDiv', h,layout);



       Plotly.newPlot('myDiv1', h4,layout1);
       Plotly.newPlot('myDiv2', h2);

  });





  </script>
</body>

