{%extends "polls/base.html" %}
{% load bootstrap3 %}
{% load i18n %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="well">
            <h2>{% blocktrans with title=poll.title %}Poll "{{ title }}"{% endblocktrans %}</h2>
            <h3>3. {% trans 'Advanced parameters' %}</h3>
        </div>
        <div class="thumbnail clearfix ">
            <div class="well-sm visible-lg visible-md visible-sm">
                <ol class="nav nav-pills-custom">
                    <li role="presentation" ><a href="{% url 'updatePoll' poll.id %}">{% trans 'General parameters' %} {% bootstrap_icon "chevron-right" %}</a></li>
                    <li role="presentation" ><a href="{% url 'manageCandidate' poll.id %}">{% trans 'Add candidates' %} {% bootstrap_icon "chevron-right"%}</a></li>
                    <li role="presentation" class="active"><a href="#">{% trans 'Advanced parameters' %} {% bootstrap_icon "chevron-right"%}</a></li>
                    <li role="presentation" class="disabled"><a href="#">{% trans 'Invite' %}</a></li>
                </ol>
            </div>
            <form action="" method="post" >
              {% csrf_token %}
              <div class="well-lg">
                {% bootstrap_form_errors form  %}
                {% bootstrap_form form %}
	      </div>
	      <div class="well-lg">
                <button type="submit" class="btn btn-custom next">{% trans 'Next' %} {% bootstrap_icon "menu-right" %}</button>
		<a href="{% url 'manageCandidate' poll.id %}"  class="btn btn-custom previous">{% bootstrap_icon "menu-left" %} {% trans 'Previous' %}</a>
              </div>
	    </form>	    
        </div>
    </div>
    <script src="{% static 'polls/js/poll_parameters.js' %}" type="text/javascript"></script>
{% endblock %}
