{%extends "polls/base.html" %}
{% load bootstrap3 %}
{% load i18n %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="well">
            <h2> {% trans 'Poll :' %}{{ poll.title }}</h2>
            <h3>3.{% trans 'Advanced parameters' %}</h3>
        </div>
        <div class="thumbnail clearfix ">
            <div class="well-sm visible-lg visible-md visible-sm">
                <ol class="nav nav-pills-custom">
                    <li role="presentation" ><a href="{% url 'updatePoll' poll.id %}">{% trans 'General parameters' %} {% bootstrap_icon "menu-right" %}</a></li>
                    <li role="presentation" ><a href="{% url 'manageCandidate' poll.id %}">{% trans 'Add candidates' %} {% bootstrap_icon "menu-right"%}</a></li>
                    <li role="presentation" class="active"><a href="#">{% trans 'Advanced parameters' %} {% bootstrap_icon "menu-right"%}</a></li>
                    <li role="presentation" class="disabled"><a href="#">{% trans 'Invite' %}</a></li>
                </ol>
            </div>
            <div class="well-lg">
                <form action="" method="post" >
                    {% csrf_token %}
                    {% bootstrap_form_errors form  %}
                    {% bootstrap_form form %}
                    <button type="submit" class="btn btn-custom next">{% trans 'Next' %} {% bootstrap_icon "menu-right" %}</button>
                </form>
                <a href="{% url 'manageCandidate' poll.id %}"  class="btn btn-custom previous">{% bootstrap_icon "menu-left" %} {% trans 'Previous' %}</a>
            </div>
        </div>
    </div>
    <script src="{% static 'polls/js/votingPoll.js' %}" type="text/javascript"></script>
{% endblock %}
