{% extends "polls/base.html" %}
{% load i18n %}
{% block content %}
    {% csrf_token %}

    <div class="container-fluid col-lg-9">
        <div class="well">
            <h2> {{ poll.title }}</h2>
            <p> {{ poll.description }}</p>
        </div>

 <div class="form-login clearfix  ">
 <div class=" pull-right ">
 <a href="{% url 'admin' poll.id %}" class="btn btn-default btn-lg  "><span class="icon icon-settings"></span></a>
 </div>
 <div class="table-responsive ">
    <table class="table table-bordered ">
        <thead>
        {% if poll.poll_type == "Date" %}
            <tr>
                <td class="border" colspan="2" ></td>
                {% for m in months %}
                    <th colspan="{{ m.value }}">
                        {{ m.label }}
                    </th>
                {% endfor %}
            </tr>
            <tr>
                <td class="border" colspan="2" ></td>
                {% for d in days %}
                    <th colspan="{{ d.value }}">
                        {{ d.label }}
                    </th>
                {% endfor %}
            </tr>
          {% if cand %}
            <tr>
            <td class="border" colspan="2" ></td>
            {% for c in candidates %}
                <th>
                    {{ c.candidate }}
                </th>
            {% endfor %}
        </tr>
             {% endif %}
        {% else %}

        <tr>
            <td class="border" colspan="2" ></td>
            {% for c in candidates %}
                <th>
                    {{ c.candidate }}
                </th>
            {% endfor %}
        </tr>
        {% endif %}
        </thead>
        {% if poll.option_ballots and closing_poll%}
             </table>
            </div>
            <div style="margin-bottom: 30px;"><i>{% trans 'The (anonymized) ballots will only be visible when the poll will be closed.' %}</i></div>
             {% else %}
        {% if votes %}
            <tbody>
            {% for v in votes %}
                <tr>
                    <td class="controls">

                        <button type="button" data-toggle="modal" data-target="#myModal{{ forloop.counter }}" class="close"><span class="icon icon-trash_can"></span></button>
                            <div class="modal fade" id="myModal{{ forloop.counter }}" role="dialog">
                                <div class="modal-dialog modal-sm">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">{% trans 'Delete this vote' %} </h4>
                                        </div>
                                        <div class="modal-body">
                                            <p>{% trans ' If you really want to delete this vote,click submit.' %}</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Cancel' %}</button>
                                            <a href="/polls/deleteVote/{{ poll.id }}/{{ v.id }}" class="btn btn-custom ">{% trans 'Submit' %} </a >

                                        </div>

                                    </div>
                                </div>
                            </div>
                        <a href="/polls/updateVote/{{ poll.id }}/{{ v.id }}" ><span class="icon icon-pen"></span></a>

                    </td>
                    <th>
                        {{ v.nickname }}
                    </th>
                    {% for s in v.scores %}
                        <td class="{{ s.class }}">{{ s.text }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
            </table>
        {% else %}
            </table>
            </div>
            <div style="margin-bottom: 30px;"><i>{% trans 'No vote yet... Do you want to be the first one? ' %}</i></div>
        {% endif %}
  {% endif %}
</div>
</div>

{% endblock %}