<!DOCTYPE html>
<meta charset="utf-8">
<body>
<script src="//d3js.org/d3.v3.min.js"></script>
<script>

var mouse = [480, 250],
    count = 0;

var svg = d3.select("body").append("svg")
    .attr("width", 960)
    .attr("height", 500);

var g = svg.selectAll("g")
    .data(d3.range(6))
  .enter().append("g")
    .attr("transform", "translate(" + mouse + ")");

g.append("rect")
    .attr("x",25)
    .attr("y", function(d) { return d*25; })
    .attr("width", 150)
    .attr("height", 23)

    .style("fill", d3.scale.category20c())


</script>
