{% extends "polls/base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% block content %}
    {% csrf_token %}

    <div class="container">
     <div class="well clearfix">
    <h2>{{ poll.title }}</h2>
    <p class="description">{{ poll.description }}</p>
  </div>



            <div class="table-responsive">
                <table class="table poll-table">
                    <thead>
                    <tr>
                        <td class="border" colspan="2" ></td>
                        {% for c in candidates %}
                            <th>
                                {{ c }}
                            </th>
                        {% endfor %}
                    </tr>
                    </thead>

                    {% if tab %}
                        <tbody>
                        <tr>
                            <td class="controls">
                                <button type="button" data-toggle="modal" data-target="#myModal" class="close"><span class="icon icon-trash_can"></span></button>
                                <div class="modal fade" id="myModal" role="dialog">
                                    <div class="modal-dialog ">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                <h4 class="modal-title">{% trans 'Delete this vote' %} </h4>
                                            </div>
                                            <div class="modal-body">
                                                <p>{% trans 'Do you really want to delete this vote?' %}</p>
                                            </div>
                                            <div class="modal-footer">
					      <a href="{% url 'deleteVote' poll.id voter.id %}" class="btn btn-ok ">{% trans 'OK' %} {% bootstrap_icon "ok" %} </a >
					      <button type="button" class="btn btn-cancel" data-dismiss="modal">{% trans 'Cancel'%} {% bootstrap_icon "remove" %}</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <a href="{% url 'updateVote' poll.id voter.id %}"  ><span class="icon icon-pen"></span></a>

                            </td>
                            <th>
                                {{ voter.nickname }}
                            </th>

                            {% for s in tab %}
                                <td class="{{ s.class }}">{{ s.text }}</td>
                            {% endfor %}
                        </tr>
                        </tbody>

                    {% else %}
                        <tr>
                            <div style="margin-bottom: 30px;"><i>{% trans 'no vote yet' %}</i></div>
                        </tr>
                    {% endif %}
                </table>
            </div>

        </div>



{% endblock %}
