{%extends "polls/base.html" %}
{% load bootstrap3 %}
{% load i18n %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="well">
              <h2> {% trans 'Poll :' %}{{ poll.title }}</h2>
            <h3>{% trans 'change the status of poll' %}</h3>
        </div>
        <div class="thumbnail clearfix ">

            <form action="" method="post" id="form1" class="well-lg">
              {% csrf_token %}
	      {% for f in form %}
	      <div class="material-switch">
                <input id="{{ f.name }}" name="{{ f.name }}" type="checkbox"/>
                <label for="{{ f.name }}" class="label-primary"></label>
		<div class="cb-label">
		  {{ f.label }}
		</div>
		<div class="cb-help-text">
		  {{ f.help_text }}
		</div>
              </div>
	      {% endfor %}
            </form>
            <button type="submit"form="form1" class="btn btn-custom next ">{% trans 'Submit' %} {% bootstrap_icon "ok" %}</button>
            <a href="{% url 'viewPoll' poll.id %}"  class="btn btn-custom previous">{% bootstrap_icon "menu-left" %} {% trans 'Previous' %}</a></li>
        </div>
    </div>
{% endblock %}
