{%extends "polls/base.html" %}
{% load bootstrap3 %}
{% load i18n %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="well">
              <h2> {% trans 'Poll :' %}{{ poll.title }}</h2>
            <h3>{% trans 'change the status of poll' %}</h3>
        </div>
        <div class="thumbnail clearfix ">

            <form action="" method="post" id="form1" class="well-lg">
                    {% csrf_token %}
                    {% bootstrap_form_errors form  %}
                    {% bootstrap_form form %}
                    <button type="submit" class="btn btn-custom next">{% trans 'Submit' %} {% bootstrap_icon "ok" %}</button>

            </form>

        </div>
    </div>
     <script src="{% static 'polls/js/status.js' %}" type="text/javascript"></script>
{% endblock %}
