{% extends "polls/base.html" %}
{% load bootstrap3 %}
{% load i18n %}
{% load static %}
{% block content %}
    <div class="container">
    <div class="well">
        <h2>{% trans 'Poll' %} : {{ poll.title }}</h2>
        <h3> 1.{% trans 'Update parameters' %}</h3>
    </div>
        <div class="thumbnail  clearfix ">
            <form action=""  method="post" class="well-lg" >
                {% csrf_token %}
                {% bootstrap_form_errors form  %}
                {% bootstrap_form form %}
                  <button type="submit"  class="btn btn-custom next ">{% trans 'Next' %} {% bootstrap_icon "menu-right" %}</button>
            </form>
        </div>
     </div>
    <script src="{% static 'polls/js/votingPoll.js' %}" type="text/javascript"></script>
{% endblock %}