{% extends "polls/base-view.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% load static %}
{% block content %}
{% csrf_token %}

<div class="polltitle">
  <div class="container">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h2>{{ poll.title }}</h2>
    </div>
    <div class=" col-xs-12 col-sm-6 col-md-6 col-lg-6">
      {% if poll.description %}
      <p class="description">{{ poll.description }}</p>
      {% endif %}
    </div>
    <div class=" col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	{% blocktrans count counter=votes|length %}{{ counter }} voter have participated in this poll.{% plural %}{{ counter }} voters have participated in this poll.{% endblocktrans %}
      </div>
      {% if not is_closed %}
      <div class=" col-xs-6 col-sm-6 col-md-6 col-lg-4 margin2">
	<a href="{% url 'vote' poll.id %}"  class="btn btn-custom btn-lg col-xs-12 col-sm-12 col-md-12 col-lg-12">{% bootstrap_icon "pencil" %} {% trans 'vote' %}</a>
      </div>
      {% endif %}
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 margin2">
	<a href="{% url 'results' poll.id %}" class="btn btn-custom btn-lg col-xs-12 col-sm-12 col-md-12 col-lg-12">{% bootstrap_icon "stats" %} {% trans 'results' %}</a>
      </div>
    </div>
  </div>
</div>



<div class="container-fluid">
  <div class="container">
        {% bootstrap_messages %}
  </div>


<div class="container">
    
  {% if votes %}

  <div class="table-responsive">
    <table class="table poll-table">
      <thead>
        {% if poll.poll_type == "Date" %}

        <tr>
          <td class="border" colspan="2" ></td>
          {% for m in months %}
          <th colspan="{{ m.value }}">
            {{ m.label|date:"F/Y" }}

          </th>
          {% endfor %}
        </tr>
        <tr>
          <td class="border" colspan="2" ></td>
          {% for d in days %}
          <th colspan="{{ d.value }}">
            {{ d.label|date:"D/d " }}
          </th>
          {% endfor %}
        </tr>


        <tr>
          <td class="border" colspan="2" ></td>
          {% for c in candidates %}
          <th>

            {{ c.candidate }}
          </th>
          {% endfor %}
        </tr>

        {% else %}

        <tr>
          <td class="border" colspan="2" ></td>
          {% for c in candidates %}
          <th style="min-width: {{ col_width }}%">
            {{ c.candidate }}
          </th>
          {% endfor %}
        </tr>
        {% endif %}
      </thead>

      <tbody>
        {% for v in votes %}
        <tr>
          {% if poll.ballot_type == "Experimental"%}
	  <td class="no-controls">
            {% elif poll.ballot_type == "Secret" %}
	  <td class="no-controls">
            {% else %}
            {% if v.modify %}
          <td class="controls">
            <a href="{% url 'updateVote' poll.id v.id %}" >{% bootstrap_icon "pencil" %}</a>
	    
            <a href="#" class="remove" data-toggle="modal" data-target="#myModal{{ forloop.counter }}">{% bootstrap_icon "remove" %}</a>
            <div class="modal fade" id="myModal{{ forloop.counter }}" role="dialog">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">{% trans 'Delete this vote' %} </h4>
                  </div>
                  <div class="modal-body">
                    <p>{% trans 'Do you really want to delete this vote?' %}</p>
                  </div>
                  <div class="modal-footer">
                    <a href="{% url 'deleteVote' poll.id v.id %}" class="btn btn-ok ">{% trans 'OK' %} {% bootstrap_icon "ok" %} </a >
                    <button type="button" class="btn btn-cancel" data-dismiss="modal">{% trans 'Cancel'%} {% bootstrap_icon "remove" %}</button>
                  </div>
		  
                </div>
              </div>
            </div>
	    {% else %}
	    <td class="no-controls">
            {% endif %}

            {% endif %}
          </td>
          <th>
            {{ v.nickname }}
          </th>
          {% if poll.ballot_type == "Secret" and not is_closed %}

          {% else %}
          {% for s in v.scores %}
          <td class="{{ s.class }}">{{ s.text }}</td>
          {% endfor %}
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% else %}
  <div class="well">
    <i>{% trans 'No vote yet... Do you want to be the first one?' %}</i>
  </div>
  {% endif %}
<div class="well-sm">
  <p class="text-center">
    {% if is_closed %}
    {% trans 'The poll is closed since' %} <label class="label label-danger">{{ poll.closing_date }}</label>
    {% else %}
    {% trans 'The poll is opened until' %} <label class="label label-danger">{{ poll.closing_date }}</label>
    {% trans '(unless the poll creator decides to close it before).' %}
    {% endif %}
  </p>
</div>
  <div class="row">
    <div class="col-md-2 col-lg-2"></div>
    <div class=" col-xs-12 col-sm-4 col-md-2 col-lg-2 margin2">
      <a href="{% url 'vote' poll.id %}"  class="btn btn-custom btn-lg col-xs-12 col-sm-12 col-md-12 col-lg-12">{% bootstrap_icon "pencil" %} {% trans 'vote' %}</a>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-2 col-lg-2 margin2" >
      <a href="{% url 'results' poll.id %}" class="btn btn-custom btn-lg col-xs-12 col-sm-12 col-md-12 col-lg-12">{% bootstrap_icon "stats" %} {% trans 'results' %}</a>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-2 col-lg-2  margin2">
      <a href="{% url 'admin' poll.id %}" class="btn btn-custom btn-lg col-xs-12 col-sm-12 col-md-12 col-lg-12">{% bootstrap_icon "cog" %} {% trans 'settings' %}</a>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-2 col-lg-2  margin2">
     <a href="{% url 'data' poll.id %}" class="btn btn-custom btn-lg col-xs-12 col-sm-12 col-md-12 col-lg-12">{% bootstrap_icon "download-alt" %} {% trans 'Data page' %} </a>
    </div>
    <div class="col-md-2 col-lg-2"></div>
  </div>
</div>

{% endblock %}
