{% extends "polls/base.html" %}
{% load i18n %}
{% block content %}
{% csrf_token %}
<h1>{{ poll.title }}</h1>
<pre style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px;">{{ poll.description }}</pre>
<table class="table pollTable">
    <thead>
 
    <tr>
        <td class="emptyCell" colspan="1" ></td>
        {% for c in candidates %}
        <th>
        {{ c }}
        </th>
        {% endfor %}
    </tr>
    </thead>
    {% if votes %}
    <tbody>
    {% for v in votes %}
    <tr>
        <th>
        {{ v.nickname }}
        </th>
        {% for s in v.scores %}
        <td class="{{ s.class }}">{{ s.text }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
</table>
    {% else %}
</table>
<div style="margin-bottom: 30px;"><i>{% blocktrans %}No vote yet... Do you want to be the first one? {% endblocktrans %}</i></div>
{% endif %}


	   
<a href="/polls/vote/{{ poll.id}}" class="btn btn-default"> {% blocktrans %}Vote {% endblocktrans %}</a>



{% endblock %}