{% extends "polls/base.html" %}
{% load bootstrap3 %}
{% load i18n %}
{% block content %}
<h1>{% trans 'Vote for this poll' %}</h1>

<form action="" method="post">
    {% csrf_token %}
    {% bootstrap_form_errors form %}
    <table class="table"  > 
    <thead >
    {% if poll.poll_type == "Date" %}
    <tr>
      <td class="emptyCell" colspan="1" ></td>
        {% for m in months %}
        <th colspan="{{ m.value }}">
        {{ m.label }}
        </th>
        {% endfor %}
    </tr>
    <tr>
      <td class="emptyCell" colspan="1" ></td>
        {% for d in days %}
        <th colspan="{{ d.value }}">
        {{ d.label }}
        </th>
        {% endfor %}
    </tr>
        {% endif %}
      <tr>
            {% for field in form %}
            <th>
                {% bootstrap_label field.label %}
            </th>
            {% endfor %}
      </tr>
    </thead>
    <tbody>
        <tr>
            {% for field in form %}
            <td>
                {% bootstrap_field field show_label=False %}
            </td>
            {% endfor %}
        </tr>
     
    </tbody>
        
    </table>
    
     <button type="submit" class="btn btn-primary pull-right col-md-2" >{%trans 'Submit' %}</button>
     
</form> 


{% endblock %}
