{% extends "polls/base.html" %}
{% load bootstrap3 %}
{% load i18n %}
{% load static %}
{% block static-extra %}
     <script src="http://d3js.org/d3.v3.js"></script>
    <link href="{% static 'polls/css/vote.css' %}" rel="stylesheet">

{% endblock %}
{% block content %}

    <div class="container">
        <div class="well">
              <h3>{% trans 'Vote!' %}</h3>
            <h2>{{ poll.title }}</h2>
             {% if poll.description %}
            <p class="description">{{ poll.description }}</p>
             {% endif %}
        </div>
        {% if poll.preference_model == "Ranks#0" %}
            <div class="thumbnail clearfix ">

                <form action="" method="post">
                    {% csrf_token %}
                    <div class=" well-lg clearfix">
                        <div class=" col-lg-6">
                            {% bootstrap_form form1 %}
                        </div>
                    </div>


                    <div class=" well-lg clearfix">
                        <div class="col-lg-6 col-sm-6" id="init">


                            <div class="hidden-xs" >
                            <p  class="bg-info help-block well-sm">{% blocktrans %} Click on the names of the unsorted candidates <span class="label label-default">left frame</span>
                                to rank them <span class="label label-default">right frame</span> .{% endblocktrans %}</p>
                        </div>
                            <h3>{% trans 'Unsorted candidates' %}</h3>
                            <ul id="list_init" class="list-group">
                                {% for c in candidates %}
                                    <li class="list-group-item" id="{{ c.id}}" title="{{ c}}" onclick="rank(this.id)">{{ c}}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="col-lg-6 col-sm-6" id="res">
                        <div class="hidden-xs">
                            <p class="bg-info help-block well-sm">{% blocktrans %} You can put back a sorted candidate <span class="label label-default">right</span>
                                to the pool of unsorted candidates <span class="label label-default">left</span>  by clicking on it.{% endblocktrans %}</p>
                            </div>
                            <h3>{% trans 'Sorted candidates' %}</h3>
                            <ol id="sortable" class="list-group">
                                {% for c in candidates %}
                                    <li class="list-group-item" id="sorted{{ forloop.counter }}" title="" onclick="unrank(this.id)"></li>
                                {% endfor %}
                            </ol>
                        </div>
                    </div>
                    {{ form }}
                    <button id="submit" type="submit" class="btn btn-custom pull-right btn-lg col-xs-4 col-sm-3 col-md-2 " >{%trans 'Submit' %}</button>
                </form>
            </div>

        {% else %}

                <form action="" method="post">
                    {% csrf_token %}
                    {% bootstrap_form_errors form %}
                    <div class="table-responsive">
                        <table class="table poll-table responsive"  >
                            <thead >
                            {% if poll.poll_type == "Date" %}
                                <tr>
                                    <td  class="border" colspan="1" ></td>
                                    {% for m in months %}
                                        <th colspan="{{ m.value }}">
                                            {{ m.label }}
                                        </th>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td class="border" colspan="1" ></td>
                                    {% for d in days %}
                                        <th colspan="{{ d.value }}">
                                            {{ d.label }}
                                        </th>
                                    {% endfor %}
                                </tr>
                                {% if  cand %}
                                    <tr>
                                        <td class="border" colspan="1" ></td>
                                        {% for c in candidates %}

                                            <th>
                                                {{ c.candidate }}
                                            </th>

                                        {% endfor %}
                                    </tr>
                                {% endif %}
                            {% else %}
                                <tr>
                                    <td class="border" colspan="1" ></td>
                                    {% for c in candidates %}
                                        <th>
                                            {{ c.candidate }}
                                        </th>
                                    {% endfor %}
                                </tr>
                            {% endif %}
                            </thead>
                            <tbody>
                            <tr>
                                <td class="border text-right" >

                                    <div class="form-group">
                                        {% bootstrap_form form1 show_label=False %}
                                    </div>
                                </td>
                                {% for field in form %}

                                    <td >
                                        {% bootstrap_field field show_label=False %}
                                    </td>
                                {% endfor %}
                            </tr>

                            </tbody>

                        </table>
                    </div>

		    <div class="row">
		      <div class="col-md-3 col-lg-3"></div>

		      <div class=" col-xs-12 col-sm-6 col-md-3 col-lg-3 margin2">
			<a href="{% url 'viewPoll' poll.id %}"  class="btn btn-custom btn-lg col-xs-12 col-sm-12 col-md-12 col-xs-12">{% bootstrap_icon "list" %} {% trans 'Back to the poll' %}</a>
		      </div>
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 margin2" >
			<button type="submit" class="btn btn-success btn-lg col-xs-12 col-sm-12 col-md-12 col-xs-12" >{% bootstrap_icon "ok" %} {%trans 'Submit' %}</button>
		      </div>
		      <div class="col-md-3 col-lg-3"></div>
		    </div>
                </form>
        {% endif %}
    </div>
    <script src="{% static 'polls/js/vote.js' %}" type="text/javascript"></script>
{% endblock %}
