{% extends "polls/base.html" %}
{% load bootstrap3 %}
{% load i18n %}
{% block content %}

    <div class="container-fluid col-lg-9">
        <div class="well">
            <h2> {% trans 'Vote for this Poll' %}</h2>
            <h3> {{ poll.title }}</h3>
        </div>


        <div class="form-login clearfix ">
            <form action="" method="post">
                {% csrf_token %}
                {% bootstrap_form_errors form %}
                <div class="table-responsive ">
                    <table class="table table-bordered "  >
                        <thead >
                        {% if poll.poll_type == "Date" %}
                            <tr>
                                <td  class="border" colspan="2" ></td>
                                {% for m in months %}
                                    <th colspan="{{ m.value }}">
                                        {{ m.label }}
                                    </th>
                                {% endfor %}
                            </tr>
                            <tr>
                                <td class="border" colspan="2" ></td>
                                {% for d in days %}
                                    <th colspan="{{ d.value }}">
                                        {{ d.label }}
                                    </th>
                                {% endfor %}
                            </tr>
                            {% if  cand %}
                                <tr>
                                    <td class="border" colspan="2" ></td>
                                    {% for c in candidates %}

                                        <th>
                                            {{ c.candidate }}
                                        </th>

                                    {% endfor %}
                                </tr>
                            {% endif %}
                        {% else %}
                            <tr>
                                <td class="border" colspan="2" ></td>
                                {% for c in candidates %}
                                    <th>
                                        {{ c.candidate }}
                                    </th>
                                {% endfor %}
                            </tr>
                        {% endif %}
                        </thead>
                        <tbody>
                        <tr>
                            <td class="border text-right" ><label > Nickname: </label></td>
                            {% for field in form %}
                                <td  class="border">
                                    {% bootstrap_field field show_label=False %}
                                </td>
                            {% endfor %}
                        </tr>

                        </tbody>

                    </table>
                </div>
                <button type="submit" class="btn btn-custom pull-right btn-lg col-xs-4 col-sm-3 col-md-2 " >{%trans 'Submit' %}</button>

            </form>
        </div>

    </div>

{% endblock %}
