{% extends "polls/base.html" %}
{% load bootstrap3 %}
{% load i18n %}
{% load static %}
{% block content %}
    <div class="col-md-8">

        <p class="lead text-primary text-center"> {% trans 'Create a new poll' %}</p>

        <ul class="nav nav-pills">
            <li role="presentation" class="active"><a href="#">1.General parameters {% bootstrap_icon "menu-right" %}</a></li>
            <li role="presentation" class="disabled"><a href="#">2.Add candidates {% bootstrap_icon "menu-right"%}</a></li>
            <li role="presentation" class="disabled"><a href="#">3.Invite</a></li>
        </ul>
        <form action="" method="post" class="form" >
            {% csrf_token %}
            {% bootstrap_form_errors form  %}
            {% bootstrap_form form %}
             <button type="submit" class="btn btn-primary pull-right ">{% trans 'Next' %} {% bootstrap_icon "menu-right" %}</button>
        </form>

    </div>
    <script src="{% static 'polls/js/votingPoll.js' %}" type="text/javascript"></script>
{% endblock %}