{% extends "polls/base.html" %}
{% load bootstrap3 %}
{% load i18n %}
{% block content %}

<form action="" method="post" class="form">
  {% csrf_token %}
  {% bootstrap_form_errors form  %}
  {% bootstrap_form form %}
  {% buttons %}
    <button type="submit" class="btn btn-primary">
      {% bootstrap_icon "star" %} {% trans 'Submit' %}
    </button>
  {% endbuttons %}
</form>
    <script>
        $(document).ready(function() {
          var today = new Date();
            $('.datepicker').datepicker( {
              format: 'yyyy-mm-dd',
              todayHighlight: true,
              startDate: today,
              autoclose: true,
              
            });

        });
    </script>
{% endblock %}