{% extends "polls/base.html" %}
{% load bootstrap3 %}
{% load i18n %}
{% block content %}

<h1>{% trans 'Log in'%}</h1>



{% if user.is_authenticated %}
 {% csrf_token %}
  {% trans 'you are log in'%} , {{ user.username }} ! 

{% else %}

    <form action="" method="post" class="form">
  {% csrf_token %}
  {% bootstrap_form form %}

    <button type="submit" class="btn btn-primary">
      <span class="glyphicon glyphicon-ok-sign"></span>{%trans 'Log in' %}
    </button>
<input type="hidden" name="next" value="{{ next }}" />
</form>
    

{% endif %}

{% endblock %}


