{% extends "polls/base.html" %}

{% block content %}

<h1>Log in</h1>


{% if error %}

  <p><strong>unknown WhaleUser or bad password.</strong></p>

{% endif %}


{% if user.is_authenticated %}

  you are log in , {{ user.username }} ! 

{% else %}

    <form method="post" action="{% url 'django.contrib.auth.views.login' %}">

      {% csrf_token %}

      {{ form.as_p }}

      
      
            <input class="btn btn-success " type="submit" value="login" />
        
    </p>
    <input type="hidden" name="next" value="{{ next }}" />

    </form>

{% endif %}

{% endblock %}

