
body {
    font-family: 'Lato', Verdana, Arial, Sans-Serif;
    color: #444;
    margin: 0px;
    padding-top: 70px;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.8)
}

.navbar-custom {
    background-color: rgba(220, 220, 220, 0.9);
    border-color: rgb(235, 235, 235);
}

.navbar-custom .navbar-brand {
    color: #ffffff;
    opacity: 1;
}

.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
  color: #3375b3;
}

.navbar-custom .navbar-text {
    color: #000000;
    opacity: 0.6;
    text-transform: uppercase;
    text-shadow: rgba(255, 255, 255, 0.5) 0px 1px 0px;
}

.navbar-custom .navbar-nav > li > a {
    color: #000000;
    opacity: 0.6;
    text-transform: uppercase;
    text-shadow: rgba(255, 255, 255, 0.5) 0px 1px 0px;
    transition: all .2s linear;
    font-weight: bold;
    font-size: 13px;
}

.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
    color: #3375b3;
    opacity: 1;
    text-transform: uppercase;
    text-shadow: rgba(255, 255, 255, 0.5) 0px 1px 0px;
    transition: all .2s linear;
    font-weight: bold;
    font-size: 13px;
    background-color: transparent;
}
.navbar-custom .navbar-nav > li > .dropdown-menu {
    background-color: rgba(255, 255, 255, 0.9);
    color: rgba(0, 0, 0, 0.7);
}
.navbar-custom .navbar-nav > li > .dropdown-menu > li > a {
    color: rgba(0, 0, 0, 0.7);
}
.navbar-custom .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-custom .navbar-nav > li > .dropdown-menu > li > a:focus {
    color: #3375b3;    
}
.navbar-custom .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #2037b7;
}
.navbar-custom .navbar-nav .open .dropdown-menu > .active > a,
.navbar-custom .navbar-nav .open .dropdown-menu > .active > a:focus {
    background: rgba(255, 255, 255, 0.9);
    color: rgba(0, 0, 0, 0.7);
    transition: all .2s linear;
}

.navbar-custom .navbar-nav .open .dropdown-menu > .active > a:hover {
    background-image: linear-gradient(to bottom,#f5f5f5 0,#e8e8e8 100%);
    color: #3375b3;    
}

.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
    color: #3375b3;
    opacity: 1;
    text-transform: uppercase;
    text-shadow: rgba(255, 255, 255, 0.5) 0px 1px 0px;
    transition: all .2s linear;
    font-weight: bold;
    font-size: 13px;
}
.navbar-custom .navbar-nav > .open > a,
.navbar-custom .navbar-nav > .open > a:hover,
.navbar-custom .navbar-nav > .open > a:focus {
    color: #3375b3;
    opacity: 1;
    text-shadow: rgba(255, 255, 255, 0.5) 0px 1px 0px;
    transition: all .2s linear;
}
.navbar-custom .navbar-toggle {
  border-color: #1344b7;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: rgba(255, 255, 255, 0.5);
}
.navbar-custom .navbar-toggle .icon-bar {
  background-color: rgba(255, 255, 255, 0.1);
}
.navbar-custom .navbar-collapse,
.navbar-custom .navbar-form {
  border-color: #326db7;
}
.navbar-custom .navbar-link {
  color: #326db7;
}
.navbar-custom .navbar-link:hover {
  color: #d6743c;
}


.flag {
    border-width: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: transparent;
}

.flag_fr {
    background-image:url("../images/french.png") ;
}

.flag_en {
    background-image:url("../images/english.png") ;
}



h2{
    text-align: center;
    color: #326db7;
}
h3{
    text-align: center;
    color: #292427;
}


td:nth-child(1).border {
border: inherit;
}

td:nth-child(2).border {
border: inherit;}

table.table-bordered{
     background-color: white;
}


.voteTable tbody tr td {
	border: 2px solid #1344b7;
}

.voteTable thead tr th, .pollTable tbody tr th {
	font-weight: bold;
	color: #000000;
	border: 2px solid #1344b7;
}

.type{
    margin-left: 100px;
}
.choice a{
    margin-bottom: 10px;
}
.choice a p,h4{
    text-align: center;
}

#list_init li{
     margin-bottom: 10px;
    text-align: center;
    cursor: pointer;
}

#init{
border-right: dotted;

}

.nav-pills-custom li>a {
     list-style: decimal inside;
    display: list-item;
}




#sortable .list-group-item {
     list-style: decimal inside;
    display: list-item;
     margin-bottom: 10px;
     text-align: center;
     cursor: pointer;
}

.container-custom {
    padding: 25px;
    position: fixed;
}

.share-btn {
    display: inline-block;
    color: #ffffff;
    border: none;
    padding: 0.5em;
    width: 4em;
    box-shadow: 0 2px 0 0 rgba(0,0,0,0.2);
    outline: none;
    text-align: center;
}

.share-btn:hover {
  color: #eeeeee;
}

.share-btn:active {
  position: relative;
  top: 2px;
  box-shadow: none;
  color: #e2e2e2;
  outline: none;
}

.btn.twitter     { width:40px; background: #55acee; color: white; }
.btn.google-plus { width:40px;background: #dd4b39;color: white; }
.btn.facebook    { width:40px;background: #3B5998; color: white;}
.btn.linkedin    { width:40px;background: #4875B4; color: white;}
.btn.email       { width:40px;background: #444444; color: white;}


.nav-tabs>li>a  {

border-color:#d2d2d2;
}

.border-tab {
background-color: #f6f8ff
}




.form-login {
    background-color: #EDEDED;
    border: 5px #d2d2d2;
    padding: 2%;
    box-shadow:0 1px 0 #cfcfcf;
}

.form-login h4 {
 border:0 solid #fff;
 border-bottom-width:1px;
 padding-bottom:10px;
    margin-bottom:20px ;
 text-align: center;
}

.form-control {
    border-radius: 10px;
}

.wrapper {
    text-align: center;
}


.btn-custom {
  color: #ffffff;
  background-color:  #326db7;
  border-color: #1515e3;
}

.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active,
.btn-custom.active,
.open .dropdown-toggle.btn-custom {
  color: #ffffff;
  background-color:  #326db7;
  border-color: #1515e3;
}

.btn-custom:active,
.btn-custom.active,
.open .dropdown-toggle.btn-custom {
  background-image: none;
}

.btn-custom.disabled,
.btn-custom[disabled],
fieldset[disabled] .btn-custom,
.btn-custom.disabled:hover,
.btn-custom[disabled]:hover,
fieldset[disabled] .btn-custom:hover,
.btn-custom.disabled:focus,
.btn-custom[disabled]:focus,
fieldset[disabled] .btn-custom:focus,
.btn-custom.disabled:active,
.btn-custom[disabled]:active,
fieldset[disabled] .btn-custom:active,
.btn-custom.disabled.active,
.btn-custom[disabled].active,
fieldset[disabled] .btn-custom.active {
  background-color:  #326db7;
  border-color: #1515e3;
}

.btn-custom .badge {
  color: #ffffff;
  background-color:  #326db7;
}

.dropdown-header-custom {
  display: block;
  padding: 3px 20px;
  font-size: 12px;
  line-height: 1.42857143;
  color: #2037b7;
  white-space: nowrap;
}


.margin2{
    margin-top: 20px;
}

.margin1{
    margin-bottom: 30px;
}



.nav-pills-custom > li {
  float: left;
}
.nav-pills-custom > li > a {
  border-radius: 4px;
}
.nav-pills-custom > li + li {
  margin-left: 2px;
}
.nav-pills-custom > li.active > a,
.nav-pills-custom > li.active > a:hover,
.nav-pills-custom > li.active > a:focus {
  color:#ffffff;
  background-color:  #326db7;
}


@media (max-width: 767px) {
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a {
    color: #2037b7;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #2037b7;
  }
}

.table-bordered tr td.poll-100percent {
	background: rgb(76.0%, 100.0%, 63.0%);
}

.table-bordered tr td.poll-90percent {
	background: rgb(80.8%, 100.0%, 62.4%);
}

.table-bordered tr td.poll-80percent {
	background: rgb(85.6%, 100.0%, 61.8%);
}

.table-bordered tr td.poll-70percent {
	background: rgb(90.4%, 100.0%, 61.2%);
}

.table-bordered tr td.poll-60percent {
	background: rgb(95.2%, 100.0%, 60.6%);
}

.table-bordered tr td.poll-50percent {
	background: rgb(100.0%, 100.0%, 60.0%);
}

.table-bordered tr td.poll-40percent {
	background: rgb(100.0%, 93.4%, 61.0%);
}

.table-bordered tr td.poll-30percent {
	background: rgb(100.0%, 86.8%, 62.0%);
}

.table-bordered tr td.poll-20percent {
	background: rgb(100.0%, 80.2%, 63.0%);
}

.table-bordered tr td.poll-10percent {
	background: rgb(100.0%, 73.6%, 64.0%);
}

.table-bordered  tr td.poll-0percent {
	background: rgb(100.0%, 67.0%, 65.0%)
}

.table-bordered tr td.poll-undefined {
	background: rgb(85.0%, 85.0%, 85.0%)
}

.table-bordered tbody tr td.controls {
	width: 64px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}