{% extends "whale4/base.html" %}

{% block content %}

{% if message != '' %}
<div class="label label-success">
    {{ message }}
</div>
{% endif %}


<h1>Add candidates</h1>
<p>Here is the current list of candidates:</p>
<ol>
    {% for c in candidates %}
    <li>{{ c.label }}</li>
    {% endfor %}
</ol>
<form action="/add-candidate?poll={{ poll_id }}" method="post">
    {% csrf_token %}
    <table>
	{{ form.as_table }}
    </table>
    <input type="submit" value="Submit" />
</form>
{% endblock %}
