{% extends "whale4/base.html" %}

{% block content %}

{% if success %}
<div class="alert alert-dismissable alert-success">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    {{ success|safe }}
</div>
{% endif %}


<h1>Add candidates</h1>
{% if candidates %}
<p class="lead">Here is the current list of candidates:</p>
<ol class="list-group">
    {% for c in candidates %}
    <li class="list-group-item">{{ c.label }}</li>
    {% endfor %}
</ol>
{% else %}
<p>No candidate yet</p>
{% endif %}

<div style="margin-bottom: 30px;">
<form class="form-horizontal"  action="/add-candidate?poll={{ poll_id }}"  method="post">{% csrf_token %}
    <input type="hidden" name="admin_password" value="{{ admin_password }}"/>
    <div class="input-group">
	<input type="text" class="form-control" placeholder="Candidate name" name="label" autofocus="autofocus"/>
	<span class="input-group-btn">
            <button type="submit" class="btn btn-info" >Add</button>
	</span>
    </div>
</form>
</div>

<div class="btn-group" role="group">
    <a href="poll?poll={{ poll_id }}" class="btn btn-default" role="button">Back to the poll</a>
</div>
{% endblock %}
