{% extends "whale4/base.html" %}

{% block content %}

<h1>Confirmation</h1>

<p>You are on the verge of deleting candidate "{{ label }}". Do you confirm?</p>

<p>
<form class="form-inline" action="/manage-candidates?poll={{ poll_id }}"  method="post">{% csrf_token %}
    <input type="hidden" name="action" value="remove"/>
    <input type="hidden" name="admin_password" value="{{ admin_password }}"/>
    <input type="hidden" name="number" value="{{ number }}"/>	
    <input type="hidden" name="confirm" value="1"/>	
    <div class="form-actions">
        <button type="submit" class="btn btn-primary" >Yes</button>
    </div>
</form>
<form class="form-inline" action="/manage-candidates?poll={{ poll_id }}"  method="post">{% csrf_token %}
    <input type="hidden" name="admin_password" value="{{ admin_password }}"/>
    <div class="form-actions">
        <button type="submit" class="btn btn-primary" >No</button>
    </div>
</form>
</p>

{% endblock %}
