{% extends "whale4/base.html" %}
{% load staticfiles %}

{% block content %}

{% if success %}
<div class="alert alert-dismissable alert-success">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    {{ success|safe }}
</div>
{% endif %}


<h1>Manage candidates</h1>
{% if candidates %}
<p class="lead">Here is the current list of candidates:</p>
<ol class="list-group">
    {% for c in candidates %}
    <li class="list-group-item">
	<form action="/manage-candidates?poll={{ poll.id }}" method="post">{% csrf_token %}
	    <input type="hidden" name="action" value="remove"/>
	    <input type="hidden" name="admin_password" value="{{ admin_password }}"/>
	    <input type="hidden" name="label" value="{{ c.label }}"/>
	    <input type="hidden" name="number" value="{{ c.number }}"/>
	    {{ c.label }}
	    <button type="submit" class="close">&times;</button>
	</form>
    </li>
    {% endfor %}
</ol>
{% else %}
<p>No candidate yet</p>
{% endif %}

{% if poll.poll_type == "Date" %}
<link href="{% static 'whale4/css/bootstrap-datepicker3.standalone.min.css' %}" rel="stylesheet"/>
<script src="{% static 'whale4/js/bootstrap-datepicker.min.js' %}" type="text/javascript"></script>
<div style="margin-bottom: 30px;">
    <form class="form-horizontal"  action="/manage-candidates?poll={{ poll.id }}"  method="post">{% csrf_token %}
    <input type="hidden" name="admin_password" value="{{ admin_password }}"/>
    <input type="hidden" name="action" value="add"/>
    <label class="control-label">First pick one or several dates</label> 
    <div class="input-group date" id="datepicker-container">
	<input type="text" class="form-control" required="required" name="dates">
	<div class="input-group-addon">
            <span class="icon icon-calendar"></span>
	</div>
    </div>
    <label class="control-label">Then give a label for the time slot to add (<i>e.g.</i> morning, 10am-12am,...)</label> 
    <input type="text" class="form-control" placeholder="Time slot label" name="label" autofocus="autofocus"/>
    <button type="submit">Add these time slots</button>
    <script type="text/javascript">
     $('#datepicker-container input').datepicker({
	 format: 'yyyy-mm-dd',
	 multidate: true
     });
    </script>
</form>
</div>
{% else %}
<div style="margin-bottom: 30px;">
<form class="form-horizontal"  action="/manage-candidates?poll={{ poll.id }}"  method="post">{% csrf_token %}
    <input type="hidden" name="admin_password" value="{{ admin_password }}"/>
    <div class="input-group">
	<input type="hidden" name="action" value="add"/>
	<input type="text" class="form-control" placeholder="Candidate name" name="label" autofocus="autofocus"/>
	<span class="input-group-btn">
            <button type="submit" class="btn btn-info" >Add</button>
	</span>
    </div>
</form>
</div>
{% endif %}

<div class="btn-group" role="group">
    <a href="/poll?poll={{ poll.id }}" class="btn btn-default" role="button">Back to the poll</a>
</div>
{% endblock %}
