{% extends "whale4/base.html" %}

{% block content %}

{% if success %}
<div class="alert alert-dismissable alert-success">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    {{ success|safe }}
</div>
{% endif %}


<div class="pull-right">
    <a href="/admin-poll?poll={{ poll.id }}" class="btn btn-default btn-lg"><span class="icon icon-settings"></span></a>
</div>
<h1>{{ poll.title }}</h1>
<pre style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px;">{{ poll.description }}</pre>
<table class="table pollTable">
    <thead>
	<tr>
	    <td class="emptyCell" colspan="2" ></td>
	    {% for c in candidates %}
	    <th>
		{{ c.label }}
	    </th>
	    {% endfor %}
	</tr>
    </thead>
    {% if votes %}
    <tbody>
	{% for v in votes %}
	<tr>
	    <td class="controls" width="auto">
		<a href="/delete-vote?poll={{ poll.id }}&voter={{ v.id }}"><span class="icon icon-trash_can"></span></a><a href="/vote?poll={{ poll.id }}&voter={{ v.id }}"><span class="icon icon-pen"></span></a>
	    </td>
	    <th>
		{{ v.nickname }}
	    </th>
	    {% for s in v.scores %}
	    <td class="{{ s.class }}">{{ s.text }}</td>
	    {% endfor %}
	</tr>
	{% endfor %}
    </tbody>
</table>
    {% else %}
</table>
<div style="margin-bottom: 30px;"><i>No vote yet... Do you want to be the first one?</i></div>
{% endif %}

<p>
    <a href="vote?poll={{ poll.id }}" class="btn btn-default">Vote</a>
</p>
{% endblock %}
