{% extends "whale4/base.html" %}

{% block content %}

{% if voter %}
<h1>Welcome {{ voter.nickname }}: update your vote</h1>
<form class="form-vertical"  action="/vote?poll={{ poll.id }}&voter={{ voter.id }}"  method="post">{% csrf_token %}
{% else %}
<h1>Vote for this poll</h1>

{% if form.non_field_errors %}
<div class="alert alert-danger" role="alert">
    {{ form.non_field_errors }}
</div>
{% endif %}

<form class="form-vertical"  action="/vote?poll={{ poll.id }}"  method="post">{% csrf_token %}
{% endif %}
    <fieldset>
        <legend>{{ title }}</legend>
	<div class="form-group">
        {% for field in form %}
            {% if field.errors %}
                <div class="control-group error">
                    <label class="control-label">{{ field.label }}</label> 
                    <div class="controls">{{ field }}
                        <span class="help-inline">
                            {% for error in  field.errors %}{{ error }}{% endfor %}
                        </span>
                    </div>
                </div>
            {% else %}
                <div class="control-group">
                    <label class="control-label">{{ field.label }}</label> 
                    <div class="controls">{{ field }}
                        {% if field.help_text %}
                            <p class="help-inline"><small>{{ field.help_text }}</small></p>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
	{% endfor %}
	</div>
    </fieldset>
    <div class="form-actions">
        <button type="submit" class="btn btn-primary" >Submit</button>
    </div>
</form>
{% endblock %}
